.servicesSection {
  background: linear-gradient(
    135deg,
    var(--background-color) 0%,
    var(--background-color-alt) 100%
  );
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.allServicesBtn {
  align-items: center;
  background-color: transparent;
  border-color: var(--link-color);
  color: var(--link-color);
  display: inline-flex;
  padding: 0.875rem 2.5rem;
  border-radius: 50px;
  transition: all 0.5s ease;
  font-size: 1rem;
  gap: 1rem;
}
.allServicesBtn:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}
